# learning Numpy

#### [Numpy crash corse by NeuralNine](https://www.youtube.com/watch?v=4c_mwnYdbhQ)

for install numpy we can use this command:
```
$ pip install numpy
```

or

if you using Anaconda you can use this command:
```
% conda install numpy
```

In [1]:
#first of all for using this lib in our code we should import it
import numpy as np

## Arrays:

Normally, in Python, arrays are defined as follows, and we could display their values using the `print` command in the order we want.

In [2]:
a = [1, 2, 3, 4, 5]

print(a)
print(a[1])
print(a[1:4])
print(a[-1])

[1, 2, 3, 4, 5]
2
[2, 3, 4]
5

In the numpy library, we also have the possibility of creating arrays, which we can define as follows:

In [3]:
a = np.array([1, 2, 3, 4, 5])

One of the differences of this array is its type. As you can see, the type of this array is `numpy.ndarray`

In [4]:
type(a)

numpy.ndarray

These arrays can also be output like Python lists:

In [5]:
print(a)
print(a[1])
print(a[1:])
print(a[:-2])

[1 2 3 4 5]
2
[2 3 4 5]
[1 2 3]

In [6]:
a[2] = 10

print(a)

[ 1  2 10  4  5]

### multi-dimensional arrays:

In general, in Python lists, we can only use one-dimensional arrays. But numpy arrays overcome this weakness and multi-dimensional arrays can be designed with them, as in the following example:

In [7]:
a_mul = np.array([[1, 2, 3, 1],
                  [4, 5, 6, 1],
                  [7, 8, 9, 1]])

In [8]:
print(a_mul[0])

# get second element of first list
print(a_mul[0, 1])

[1 2 3 1]
2

#### Array Attributes:
we also have attributes that we can't access that easily with python lists, as in the following example

In [9]:
print("shape of the array:", a_mul.shape)
print("number of dimensions:", a_mul.ndim)
print("total number of elements:", a_mul.size)
print("type of the elements:", a_mul.dtype)

shape of the array: (3, 4)
number of dimensions: 2
total number of elements: 12
type of the elements: int32

## Numpy data types:

In [10]:
a = np.array([[1, 2, 3],
              [4, "hello", 6],
              [7, 8, 9]])

In [11]:
a.dtype

dtype('<U11')

In [12]:
type(a[0][0])

numpy.str_

In [17]:
# type casting in numpy
a = np.array([[1, 2, 3],
              [4, "5", 6],
              [7, 8, 9]])
b = np.array([[1, 2, 3],
              [4, "5", 6],
              [7, 8, 9]], dtype = np.float32)

print(a.dtype)
print(a[1][1].dtype)
print(a[1, 1])

print("------------------------------------------------\n")

print(b.dtype)
print(b[1][1].dtype)
print(b[1, 1])

<U11
<U1
5
------------------------------------------------

float32
float32
5.0

in numpy arrays we so have object data type.

In [20]:
d = {"1" : "A"}

a = np.array([[1, 2, 3],
              [4, d, 6],
              [7, 8, 9]])

print(a.dtype)

object

## feeling Arrays

In numpy, we can create arrays with default values. for example:

In [22]:
a = np.full((2, 3, 4), 12)

In [23]:
print(a)

[[[12 12 12 12]
  [12 12 12 12]
  [12 12 12 12]]

 [[12 12 12 12]
  [12 12 12 12]
  [12 12 12 12]]]

In [24]:
zero = np.zeros((10, 5, 2))

print(zero)

[[[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]]

In [25]:
ones = np.ones((10, 5, 2))

print(ones)

[[[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]
  [1. 1.]]]

In [26]:
# allocate memory:

empty = np.empty((5, 5, 5))

print(empty)

[[[0.00000000e+000 6.95271031e-310 4.67386101e-321             nan
   7.34794759e-312]
  [0.00000000e+000 1.35538919e+224 2.19987190e-152 9.13573471e+242
   5.84938530e+199]
  [2.31973593e-152 2.17977185e+243 1.33167774e+179 4.26954078e+257
   1.46922886e+195]
  [2.02439916e+267 4.44390491e+252 2.01984976e+267 1.72051287e+243
   7.63912449e-095]
  [4.06869074e+233 7.21903950e+159 4.77092984e+180 1.14115712e+243
   2.35052996e+180]]

 [[3.76899928e+077 1.14448054e+243 4.47593816e-091 1.03662233e-028
   1.05957293e+214]
  [6.01346953e-154 9.13612771e+242 1.16959399e+180 4.45512870e-091
   4.66062919e+257]
  [2.59345432e+161 2.46089539e-154 3.30164371e+180 3.15088789e+156
   1.46922223e+195]
  [5.48478900e+241 3.28097162e-085 1.27617601e-152 2.46175931e+198
   4.70075024e+180]
  [1.05879249e-153 4.26209424e+180 2.45652619e+198 2.46928474e-027
   1.36429742e+161]]

 [[2.59966238e-085 2.88281490e+213 4.47593816e-091 3.15762705e+233
   6.76321680e+199]
  [3.02876088e-152 6.89966770e+212 8.54523176e+194 4.44390491e+252
   6.79303675e+199]
  [3.15756657e+233 2.46291825e+198 1.66041816e+243 4.81433642e+199
   1.06400250e+248]
  [1.21007349e-153 5.28562256e+180 3.10863987e+169 1.30935206e+214
   3.45060540e-085]
  [2.52303223e-258 4.28141385e+237 6.96410738e+252 2.60643965e+132
   3.02878210e-086]]

 [[2.19980332e-152 6.79316909e+199 1.16632639e+200 1.23478406e-259
   7.49775792e+247]
  [1.96086573e+243 2.35053208e+180 6.08163525e+247 2.66057481e-260
   7.48960144e+247]
  [4.47593816e-091 2.55462337e-153 1.78489720e+161 1.05118618e-153
   7.61402141e-010]
  [1.96082969e+243 7.06764595e-096 6.96320200e-077 6.01346953e-154
   1.05089607e-153]
  [3.24245676e-086 6.01347002e-154 6.03103053e-154 7.19268018e+140
   2.93573416e+222]]

 [[8.48406935e+175 2.59345414e+161 1.05089607e-153 3.84568617e-086
   6.01347002e-154]
  [6.03103053e-154 7.18988912e+140 6.01347002e-154 6.96320200e-077
   5.55993283e+141]
  [5.32255121e+005 2.55614266e+161 5.04502340e+223 1.47210311e-052
   3.74168656e+233]
  [5.28599610e-085 7.99290720e+005 1.37599547e-027 7.18807946e+140
   2.68248436e-260]
  [1.61674052e+184 6.14830416e-071 1.96082954e+243 4.57669588e-072
   5.23166112e-320]]]

also we have 2 functions that useful for generate sequences:

In [27]:
x_values = np.arange(0, 1005, 5)

In [28]:
print(x_values)

[   0    5   10   15   20   25   30   35   40   45   50   55   60   65
   70   75   80   85   90   95  100  105  110  115  120  125  130  135
  140  145  150  155  160  165  170  175  180  185  190  195  200  205
  210  215  220  225  230  235  240  245  250  255  260  265  270  275
  280  285  290  295  300  305  310  315  320  325  330  335  340  345
  350  355  360  365  370  375  380  385  390  395  400  405  410  415
  420  425  430  435  440  445  450  455  460  465  470  475  480  485
  490  495  500  505  510  515  520  525  530  535  540  545  550  555
  560  565  570  575  580  585  590  595  600  605  610  615  620  625
  630  635  640  645  650  655  660  665  670  675  680  685  690  695
  700  705  710  715  720  725  730  735  740  745  750  755  760  765
  770  775  780  785  790  795  800  805  810  815  820  825  830  835
  840  845  850  855  860  865  870  875  880  885  890  895  900  905
  910  915  920  925  930  935  940  945  950  955  960  965  970  975
  980  985  990  995 1000]

In [29]:
x_values = np.linspace(0, 1000, 1001)

In [30]:
print(x_values)

[   0.    1.    2. ...  998.  999. 1000.]

## NaN & Inf:

NaN: <ins>**N**</ins>ot <ins>**a**</ins> <ins>**N**</ins>umber

Inf: infinity

In [33]:
np.nan

nan

In [34]:
np.inf

inf

**Nan** can use in data sets if you load a huge data set in some colums

**Inf** can use when you get results like a division by zero instead of just throwing an exception you can just return an infinity value

In [35]:
np.sqrt(-1)

C:\Users\shahr\AppData\Local\Temp\ipykernel_10080\3438155168.py:1: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(-1)

nan

In [36]:
np.array([10]) / 0

C:\Users\shahr\AppData\Local\Temp\ipykernel_10080\1576008465.py:1: RuntimeWarning: divide by zero encountered in divide
  np.array([10]) / 0

array([inf])